@import "../../styles/responsive.scss";

.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .greeting {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 20px;

        @include sm {
            gap: 10px;
        }

        img {
            @include sm {
                width: 25px;
                height: 25px;
            }
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        img {
            @include sm {
                display: none;
            }
        }
    }

    .logout {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 20px;

        img {
            @include sm {
                width: 25px;
                height: 25px;
            }

            cursor: pointer;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        span {
            @include sm {
                display: none;
            }
        }
    }

    .feelHappy {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 20px;

        @include sm {
            gap: 10px;
        }

        img {
            @include sm {
                width: 25px;
                height: 25px;
            }

            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        span {
            @include sm {
                display: none;
            }
        }
    }
}
