@import "../../styles/responsive.scss";

.users {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .dataGrid {
        flex-grow: 1;
    }

    .dataFilter {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    @include xxl {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
}
